/*Général*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

@mixin base-shadow {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

@mixin zoom {
  transform: scale(1.02);
}
