@import "../utils/mixins.scss";
@import "../utils/colors.scss";
@import "../utils/mixins.scss";
@import "../utils/animations.scss";

#header-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  .logo-pages {
    width: 200px;
    margin: 1.5rem auto 1rem;
  }
  .arrow-left {
    position: absolute;
    top: 25px;
    left: 20px;
    cursor: pointer;
  }
}

.intro {
  background-color: $greybackground;

  border-radius: 40px 40px 0 0;
  padding: 13px 0;
  position: relative;

  h2 {
    font-family: "Shrikhand";
    font-size: 28px;
    text-align: left;
    padding: 17px;

    @media (min-width: $breackpoint) {
      padding: 0 180px;
    }
  }
}

.banner {
  width: 100%;
  height: 275px;
  object-fit: cover;
  margin-bottom: -40px;
}

.heartpages {
  font-size: 25px;
  position: absolute;
  right: 16px;
  top: 36%;
}
.heartanime {
  @include heart;
}
.resto-main {
  padding: 13px;
  background: $greybackground;
  @media (min-width: $breackpoint) {
    padding: 0 180px;
  }

  section.order {
    display: grid;
    place-items: center;
    margin: 40px;
  }
  button {
    @include base-button;
    @include base-shadow;
  }
}

.menus {
  display: grid;
  background: $greybackground;
  gap: 40px;
  h3 {
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      height: 4px;
      width: 48px;
      background-color: $third-color;
    }
  }
  .menus__category {
    background: white;
    overflow: hidden;
    border-radius: 16px;
    @include base-shadow;
    animation-fill-mode: both;
    animation: appear 1s linear;
    cursor: pointer;
    .menu-item {
      display: flex;
      overflow: hidden;

      .menu-item__price {
        margin-left: auto;
        font-weight: 900;
        padding: 16px;
        display: flex;
        align-items: flex-end;
      }

      .menu-item__description {
        padding: 16px;
        overflow: hidden;

        h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .menu-item__check {
        display: grid;
        place-items: center;
        flex-shrink: 0;
        border-radius: 0 16px 16px 0;
        background-color: $third-color;
        margin-right: -64px;
        width: 64px;
        transition: margin-right 0.5s;
        transform: translateX(48px) rotate(-270deg);
        transition: all 0.5s ease-in-out;
        i {
          display: grid;
          place-items: center;
          background: white;
          aspect-ratio: 1;
          width: 32px;
          border-radius: 16px;
          color: $third-color;
        }
      }
      &:hover {
        .menu-item__check {
          margin-right: 0;
          transform: translateX(0) rotate(0deg);
        }
      }
    }
  }
}
