@import "../utils/colors.scss";

@mixin base-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin zoom {
  transform: scale(1.0);
}

@mixin Gradient {
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
}
@mixin heart {
  color: transparent;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition-duration: 0.25s;

  cursor: pointer;
  &:active {
    opacity: 1;
  }
}

@mixin base-button {
  margin-bottom: 25px;
  border-radius: 25px;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 16px 32px;
  background-color: #686868;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    @include zoom;
  }
}

@mixin arrow-left {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}
