@import "../base/base.scss";
@import "../utils/colors.scss";
@import "../utils/mixins.scss";

.explore {
  background-color: #f6f6f6;
  text-align: center;
  position: relative;
  padding: 39px;
  & h1 {
    font-size: 24px;
    height: 68px;
  }
  & button {
    margin-bottom: 57px;
    @include base-button;
    @include base-shadow;
  }

  & p {
    color: #353535;
    margin-bottom: 27px;
    font-size: 17px;
    height: 46px;
    font-weight: 300;
  }
}

.loader {
  $animation-duration: 3s;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 200ms $animation-duration forwards;
  transform-origin: top;
  i {
    color: $main-color;
    animation: spin $animation-duration infinite linear;
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
