@import "../utils/colors.scss";
@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.functioning {
  margin-top: 48px;
  padding: 20px;
  counter-reset: steps;
  @media (min-width: $breackpoint) {
    padding: 0px 180px;
  }
  h2 {
    font-size: 24px;
  }

  & ol {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 26px 0 68px;
    @media (min-width: $breackpoint) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }
  & li {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: counter(steps) " ";
      counter-increment: steps;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $main-color;
      position: absolute;

      color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      bottom: 22px;
      left: -12px;
    }
    list-style-type: none;
    background-color: #f6f6f6;
    padding: 24px;
    flex-grow: 1;
    border-radius: 20px;
    @include base-shadow;
    &:hover {
      @include zoom;
    }
    .icon {
      margin-right: 16px;
      color: $lightgrey;
      font-size: 20px;
      top: 30%;
    }
  }
}
