.functioning {
  & ol {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  & li {
    background-color: #f6f6f6;
    padding: 24px;
    flex-grow: 1;
    border-radius: 20px;
    @include base-shadow;
    &:hover {
      @include zoom;
    }
  }
}
