main .city {
  display: flex;
  text-align: center;
  background-color: #eaeaea;
  color: #353535;
  align-items: center;
  justify-content: center;
  gap: 17px;
  font-size: 16px;
  font-weight: 500;
  & i {
    height: 16px;
  }
}
